@{
    ViewData["Title"] = "Home Page";
}

<form action="Home/Login" method="post">
    <div class="form-group">
        <label for="email">Mail Adresi:</label>
        <input type="email" name="email" class="form-control" >
    </div>
    <div class="form-group mt-2">
        <label for="pwd">Şifre:</label>
        <input type="password" name="password" class="form-control">
    </div>
    <h2>@TempData["hata"]</h2>
    <button type="submit" class="btn btn-primary mt-4">Giriş Yap</button>
</form>


 